body
{ 
    background-image:url('../img/bg3.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
    background-size: cover;
    font-family: "metallophile-sp8",sans-serif;
    color: #fff;
}


iframe {
    height:321px;
    width:570px;
    border: 0;
}

/* fade all links */
a, a span {
    transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    color: #fff;
    text-decoration: none;
}

a span {
    display: block;
    padding-top: 190px;
    opacity: 0;
}

a:hover span {
    opacity: 1.0;
}

#vimeoiframeId {
    position: relative;
    height:321px;
    width:570px;
    padding: 200px;
    border-radius: 50%;
    margin: auto;
}

#vimeoiframeId:before {
    position: absolute;
    height:321px;
    width:570px;
}

.circle-big {
    position: relative;
    margin: auto;
}

.circle-big:before {
    position: absolute;
    content: "";
}

.circle {
    text-align: center;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background: url('../img/globe.png') center no-repeat;
    display: block;
    position: absolute;
    white-space: nowrap;
    /*overflow: hidden;*/
    top: 50%;
    left: 50%;
    margin: -85px; /*offset the orbiting circles to the center of the middle sphere*/
}

/*
.circle:hover {
    background: url('../img/globe2.png') center no-repeat;
}

/* position the icons around the center of the video */
.one { 
    transform: rotate(30deg) translate(250px) rotate(-30deg); 
    -webkit-transform: rotate(30deg) translate(250px) rotate(-30deg);
    -moz-transform: rotate(30deg) translate(250px) rotate(-30deg);
    background: url('../img/carson.png') center no-repeat;
}

.two { 
    transform: rotate(90deg) translate(250px) rotate(-90deg); 
    -webkit-transform: rotate(90deg) translate(250px) rotate(-90deg);
    -moz-transform: rotate(90deg) translate(250px) rotate(-90deg);
    background: url('../img/caxton.png') center no-repeat;

}

.three { 
    transform: rotate(150deg) translate(250px) rotate(-150deg); 
    -webkit-transform: rotate(150deg) translate(250px) rotate(-150deg);
    -moz-transform: rotate(150deg) translate(250px) rotate(-150deg);
    background: url('../img/wheel2.png') center no-repeat;

}
.four { 
    transform: rotate(210deg) translate(250px) rotate(-210deg); 
    -webkit-transform: rotate(210deg) translate(250px) rotate(-210deg);
    -moz-transform: rotate(210deg) translate(250px) rotate(-210deg);
    background: url('../img/rosetti.png') center no-repeat;
}

.five { 
    transform: rotate(270deg) translate(250px) rotate(-270deg); 
    -webkit-transform: rotate(270deg) translate(250px) rotate(-270deg);
    -moz-transform: rotate(270deg) translate(250px) rotate(-270deg);
    background: url('../img/globe2.png') center no-repeat;

}

.six { 
    transform: rotate(330deg) translate(250px) rotate(-330deg); 
    -webkit-transform: rotate(330deg) translate(250px) rotate(-330deg);
    -moz-transform: rotate(330deg) translate(250px) rotate(-330deg);
    background: url('../img/globe2.png') center no-repeat;

}
